dist
.wrangler
.output
.vercel
.netlify
.vinxi
app.config.timestamp_*.js
target/

# Environment
.env
.env*.local

# dependencies
node_modules

#db
back/db
db.sqlite
androidaps.db

#tests
*.stryker-tmp
front/reports

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# Temp
gitignore

# System Files
.DS_Store
Thumbs.db
